<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Broadway.Desktop.Properties.Settings.BroadwayConnectionString" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Broadway;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="BroadwayEntities" connectionString="metadata=res://*/BroadwayModel.csdl|res://*/BroadwayModel.ssdl|res://*/BroadwayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=Broadway;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=crmx.admin;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Broadway_Entities" connectionString="metadata=res://*/BroadwayModel.csdl|res://*/BroadwayModel.ssdl|res://*/BroadwayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\mssqllocaldb;initial catalog=Broadway;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>